@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.times-roman-like {
  font-family: 'Poppins', sans-serif; /* Fallback for browsers without "Times New Roman" */
  font-weight: normal; /* Adjust if needed */
  font-style: normal; /* Adjust if needed */
}
.tight-spacing {
  word-break: break-all;
  /* Adjust the value as needed */
}
.custom-spacing {
  word-spacing: 5%; /* Adjust the value to increase or decrease spacing */
}
.underline-animation {
  position: relative;
}

.underline-animation::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px; /* Adjust the position of the underline */
  width: 100%;
  height: 1.5px; /* Adjust the thickness of the underline */
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.underline-animation:hover::after {
  transform: scaleX(1);
}
.custom-carousel-container {
  width: 70%; /* Adjust the width as needed */
  max-width: 800px; /* Optional: Set a maximum width */
  margin: 0 auto; /* Center the carousel horizontally */
}